/* CSS Reset Rule */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


body {
	background-color: #072227 ;
	font-family: 'Montserrat', sans-serif;
	
}



/* Navbar */
nav {
	background-color: #072227;
	padding-left: 10%;
	padding-right: 10%;
} 

nav .container-fluid {
	padding-left: 10%;
	padding-right: 10%; 
}


/* Landing Page */

#landing{
	padding-left: 10%;
	padding-right: 10%;
}


#myName {
	font-size: 5vw;
	font-weight: bold;
}

#fullStack {
	font-size: 2vw;
	font-weight: lighter;
}


#aboutMe {
	font-size: 1.5rem;
}

#aboutMe .container-fluid {
	padding-left: 10%;
	padding-right: 10%; 
}

#aboutMe .col-md-6 p {
	text-align: justify;
}


h2 {
	font-size: 3rem;
}


/* Projects Section */

.carousel-control-prev, .carousel-control-next {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}
  
  .carousel-control-prev {
	left: -20%;
}
  
  .carousel-control-next {
	right: -20%;
}
  


/* Card Section */
.card-body{
	background-color: #072227;
}


.card-img-top {
	height: 200px;
	width: 200px;
}


.card{
	min-height: 100%;
}






